<div class="panel-group category-products">
		<% @categories.each do |category| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name %>">
						<% if category.subcategories.present? %>
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						<% end %>
						<%= category.name %>
					</a>
				</h4>
			</div>
						<% if category.subcategories.present? %>
			<div id="<%= category.name %>" class="panel-collapse collapse">
				<div class="panel-body">
					<ul>
						<% category.subcategories.each do |subcategory| %>
							<li><%= link_to subcategory.name, category_subcategory_path(category_id: category.id, id: subcategory) %></li>
						<% end %>

					</ul>
				</div>
			</div>
				</div>
				<% end %>
		<% end %>
	</div>
</div>



