<div class="features_items">
						<h2 class="title text-center">Features Items</h2>
						<% @products.each do |product|%>
						<%#= render 'featured_product'%>
						<%= render 'home/featured_product', product: product %>
						<% end %>
			
</div>
						