<div class="left-sidebar">
	<h2>Category</h2>
	<%= render 'home/category'%>
	<%= render 'home/brands' %>
	<%= render 'home/price_range' %>				
	<div class="shipping text-center"><!--shipping-->
		<%= image_tag("/assets/home/shipping.jpg") %>
	</div><!--/shipping-->					
</div>



