	<div class="left-sidebar">
						<h2>Category</h2>
						<%= render 'category' %>
						<!--/category-products-->
					    <%= render 'brands' %>
						<%= render 'price_range' %>
						
						<div class="shipping text-center"><!--shipping-->
							<%= image_tag("/assets/home/shipping.jpg") %>
						</div><!--/shipping-->
					
					</div>